
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>لا يوجد صلاحية دخول  </title>
    @Styles.Render("~/Content/DashBoardCss")

 
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center">
                        <h1 style="color:red" class="error-number">Non Autorize</h1>
                        <h2>لم يتم تسجيل الدخول للوصول إلى العمليات</h2>
                        <hr />

                        <div class="mid_center">
                            <h3>

                                <a style="" class="btn btn-default " title="الذهاب للقائمة الرئيسية" href="@Url.Action("Index","Home")">   <i class="glyphicon glyphicon-home"></i>
                                
                                الذهاب للقائمة الرئيسية</a>

                            </h3>

                            <h3>

                                <a style="" class="btn btn-default " title="الذهاب  لتسجيل الدخول " href="@Url.Action("Login","Account")">
                                    <i class="glyphicon glyphicon-log-in"></i>
                            تسجيل الدخول  
                                
                                </a>

                            </h3>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
        <!-- footer content -->
    </div>

   
</body>
</html>