
@{
    ViewBag.Title = "Indexx";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<h2>Indexx</h2>


@Html.TextBox("bdate",null,new { @class="form-control",@type="date",@format="dd/MM/yyyy"})