

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error 400</title>
    @Styles.Render("~/Content/DashBoardCss")


</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center">
                        <h1 class="error-number">400 !!!</h1>
                        <h2>Bad Request Error </h2>
                        <hr />

                        <div class="mid_center">
                            <h3>

                                <a style="" class="btn btn-default " title="الذهاب للقائمة الرئيسية" href="@Url.Action("Index","Home")">
                                    <i class="glyphicon glyphicon-home"></i>

                                    الذهاب للقائمة الرئيسية
                                </a>

                            </h3>

                            <h3>

                                <a style="" class="btn btn-default " title="الذهاب  للوحة التحكم" href="@Url.Action("Index","DashBoard")">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    الذهاب للوحة التحكم

                                </a>

                            </h3>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
        <!-- footer content -->
    </div>


</body>
@Scripts.Render("~/Content/DashBoardjs")

</html>
<script type="text/javascript">

    $(document).ready(function () {

        $("#anch").click(function () {

            alert('The request could not be understood by the server due to malformed syntax.');
        });

    });



</script>
